<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <p>Hello</p>
  <img src="../images/tweety-logo-full.png" alt="Tweety logo">

  <div class="icon-bar">
  <a class="active" href="index.html"><i class="fa fa-home"></i></a>
  <a href="profile.html"><i class="fa fa-user"></i></a>
  <a href="explore.html"><i class="fa fa-search"></i></a>
  <a href="landing.html"><i class="fa fa-share"></i></a>
</div>

  <br>
<!-- <a href="{{url_for('landing')}}">login page</a>
<a href="{{url_for('registration')}}">registration page</a> -->

</body>

</html>
