<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Landing</title>
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <img src="../images/tweety-logo-full.png" alt="Tweety logo" class="center">
  <br>

<form>
  <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <div class="button1"><button type="submit">Login</button></div>
      <!-- <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label> -->
    </div>
</form>

<p style="text-align: center;">Don't have an account?</p>
<!-- <div class="button1"><button style="background: none; color: #152630;   padding: 0px; ">Sign up!</button></div> -->
<a href="registration.html" style="align: center; ">Sign up now!</a>
</body>

</html>
